# Supabase Configuration
PUBLIC_SUPABASE_URL=https://mx.supabase.co
PUBLIC_SUPABASE_ANON_nJlZxxxxxxxo
SUPABASE_ANON_KEY=xxxxxxxxxxx
# Clerk Authentication Configuration
PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_am9pbnQtaG91bmQtNjMzMS5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_MLi1UKDMvNwUC4oWeGY3soVVczcFcg5BnspOwsWstr

# Clerk
PUBLIC_CLERK_SIGN_IN_URL=/sign-in
PUBLIC_CLERK_SIGN_UP_URL=/sign-up
